
:root{
--primary-color:rgb(212, 83, 105) ;
--heading-color:rgb(150, 17, 39);
}
body{
  font-family: 'Times New Roman', Times, serif;
}
section{
  padding: 50px 0px;
}
a{
  text-decoration: none;
  color: unset;
}
a:hover{
  color: unset;
}
link{
  text-decoration: none;
  color: unset;
}
link:hover{
  color: unset;
}
ul{
  list-style:none
}
.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.section_title{
  color: var(--heading-color);
}
.register-btn{
background-color: var(--primary-color);
border: none;
border-radius: 5px;
color: #fff;
padding: 7px 15px;
font-family: var(--font-name);
font-size: 1rem;
font-weight: 700;
cursor: pointer;

}